{% extends "base.html" %}
 
{% block content %}
	<h1 class="page-header">The Post {{title}} Page</h1>
	<div class="row">
		{% for object in object_list %}
		  <div class="col-sm-6">
			<div class="thumbnail">
				<div class="caption">
				  <h2><a href="{{object.get_abs_url}}">{{object.title}} <small>{{object.content|truncatechars:15}}</small></a></h2>
				  <p></p>
				  <p>
					  <a href="{{object.get_abs_url}}" class="btn btn-primary">Details</a>
					  <a href={% url 'posts:update' post_id=object.id %} class="btn btn-warning">Edit</a>
					  <a href={% url 'posts:delete' post_id=object.id %} class="btn btn-danger">Delete</a>
				  </p>
				  <p>Last updated: {{object.updated|timesince}} ago</p>
				</div>
			</div>
		  </div>
		{% endfor %}
	</div>

	<a href={% url 'posts:create' %} class="btn btn-primary col-sm-12">Create Post</a>
{% endblock content%}
