{% extends "base.html" %}

 
{% block content %}
	<h1>The Post {{title}} Page</h1>

	<div class = "row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="thumbnail">
				{%if instance.image %}
					<img src="{{instance.image.url}}" alt="hahaha">
				{% endif %}
				<div class="caption">
				<h2><a href="{{instance.get_abs_url}}">{{instance.title}} </a></h2>
				<p>{{instance.content|linebreaks}}</p>
				<p>{{instance.timestamp}}</p>
				<p>{{instance.updated}}</p>
				<p>Author: {{instance.author.get_full_name}}</p>
				{% if request.user.is_staff or request.user.is_superuser %}
					<p>
						<a href={% url 'posts:update' slug=instance.slug %} class="btn btn-warning">Edit</a>
						<a href={% url 'posts:delete' slug=instance.slug %} class="btn btn-danger">Delete</a>
					</p>
				{% endif %}
				
				{% include "share.html" %}

				</div>
			</div>
		  </div>
	</div>
	{% include "likes.html" %}
	{% include "comments.html" %}
	<!--<div class="fb-like col-sm-8 col-sm-offset-2" data-href="{{request.build_absolute_uri}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
	<br>
	<div class="fb-comments col-sm-8 col-sm-offset-2" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>
	-->
	<br>
		<button class="btn btn-primary col-sm-12"><a href="{%url 'posts:list' %}" >Return to List</a></button>
{% endblock content %}
